<app-header></app-header>

<!--<main class="uk-main">-->
<!--  <section class="uk-section-full">-->
<!--    <div class="container">-->
<!--      <div class="uk-single-test uk-box-shadow" *ngIf="test">-->
<!--        <div class="uk-single-test&#45;&#45;heading">-->
<!--          <h2 class="uk-single-test&#45;&#45;title">-->
<!--            {{test.title}}-->
<!--          </h2>-->
<!--          <div class="uk-single-test&#45;&#45;heading-info">-->
<!--            <div class="uk-single-test&#45;&#45;heading-info-part pr-2">-->
<!--              Տեստի տեվողությունը։ {{test.timer}}-->
<!--            </div>-->
<!--            <div class="uk-single-test&#45;&#45;heading-info-part pr-2">-->
<!--              Գինը: {{test.price > 0 ? test.price + ' Դրամ' : 'Անվճար'}}-->
<!--            </div>-->
<!--            <div class="uk-single-test&#45;&#45;heading-info-part">-->
<!--              <a class="btn btn-primary" href="" *ngIf="test.price > 0" (click)="orderTest(1)">-->
<!--                Վճարել-->
<!--              </a>-->
<!--              <a class="btn btn-primary" href="" *ngIf="test.price === 0" (click)="orderTest(5)">-->
<!--                Սկսել-->
<!--              </a>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="uk-single-test&#45;&#45;content">-->
<!--          <p [innerHTML]="test.longDescription"></p>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="uk-single-test uk-box-shadow" *ngIf="!test">-->
<!--        <p>Տվյալներ չեն գտնվե</p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </section>-->
<!--</main>-->

<app-footer></app-footer>
