<section id="tests" class="uk-tests--section" style="background-image: url('../../../assets/images/tests/Decor.png');">
  <div class="container">
    <div class="uk-section-heading">
      <h2 class="uk-section-title">
        ԹԵՍՏԵՐ
      </h2>
    </div>
    <div class="row uk-row"  *ngIf="tests">
      <div class="col-lg-4 col-md-6"  *ngFor="let test of tests">
        <div class="uk-tests--box uk-box-shadow">
          <div class="uk-tests--head">
            <h3 class="uk-tests--title uk-doted-title">{{test.title}}</h3>
          </div>
          <div class="uk-tests--body">
            <p [innerHTML]="test.shortDescription">
            </p>
          </div>
          <div class="uk-tests--price">
            <div class="uk-tests--price-inner">
              <span class="uk-tests--price-count">
                Արժեքը
              </span>
              <span class="uk-tests--price-text">
                {{test.price > 0 ? test.price + ' Դրամ' : 'Անվճար'}}
              </span>
            </div>
          </div>
          <div class="uk-tests--footer">
            <div class="uk-tests--date col-50">
              <i class="fa fa-calendar-o"></i>
              {{test.createdAt | date: 'MM/dd/yyyy'}}
            </div>
            <div class="uk-tests--more col-50">
              <a class="btn btn-primary btn-block" [routerLink]="['/single-test', test._id]">Դիտել</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row uk-row">
      <div class="col-12 m-auto" *ngIf="total > 0">
        <app-pagination
          [count]="total"
          [page]="page"
          [perPage]="limit"
          [pagesToShow]="5"
          (goPrev)="prev()"
          (goNext)="next()"
          (goPage)="currentpage($event)">
        </app-pagination>
      </div>
    </div>
  </div>
</section>

