<section class="uk-section-slider" *ngIf="sliders && sliders.length > 0">
  <ngu-carousel #myCarousel [inputs]="carouselConfig" [dataSource]="sliders">
    <div *nguCarouselDef="let n;" class="item">
      <div class="uk-slider--slide"
           [ngStyle]="{'background-image': 'url(' + backendUrl + '/'+n.images.filePath + ')'}">
        <div class="uk-slider--container">
          <div class="slider-content">
            <h1 class="slider-hero-title">{{n.title}}</h1>
            <p class="slider-hero-text">
              {{n.description}}
            </p>
          </div>
        </div>
      </div>
    </div>
<!--    <ul class="myPoint" NguCarouselPoint>-->
<!--      <li *ngFor="let j of myCarousel.pointNumbers; let j = index" [class.active]="j==myCarousel.activePoint" (click)="myCarousel.moveTo(j)"></li>-->
<!--    </ul>-->
  </ngu-carousel>
</section>
