/* The Modal (background) */
.modal1 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 99999; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal1 .modal-content {
  border-radius: 10px;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 85%;
}

.modal1 .modal-body {
  padding: 25px 5px;
}

/* The Close Button */
.modal1 .close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-show {
  display: block;
}

.modal-hide {
  display: none;
}

.uk-completed-test-green .uk-tests--box{
  background-color: rgba(26, 147, 17, 0.88)!important;
  color: #fff;
}
.uk-completed-test-green .uk-points{
  color: #fff!important;
}

.uk-completed-test-green .uk-doted-title:after{
  background-color: #fff;
}
