
  <h3 class="uk-content-title gray-mobile">
    Ընդհանուր {{total}} թեստ
    <span class="btn btn-primary" [routerLink]="['/tests']">Նոր թեստեր</span>
  </h3>
  <div class="uk-content">
    <div class="row uk-row"  *ngIf="orders && orders.length > 0">
      <div class="col-xl-6" *ngFor="let order of orders" [ngClass]="order.participated === 3 ? 'uk-completed-test' : ''">
        <div class="uk-tests--box uk-box-shadow">
          <div class="uk-tests--head uk-tests--head-double">
            <div class="pr-sm-3 col-70">
              <h3 class="uk-tests--title uk-doted-title">{{order.testsList.title}}</h3>
              <p class="uk-tests--text" [innerHTML]="order.testsList.shortDescription">
              </p>
            </div>
            <div class="col-30 text-right uk-points--info">
              <span class="uk-points">{{order.total_point_questons}} միավոր</span>
              <span class="uk-points--completed">Հավաքել է {{order.user_total_point_answers ? order.user_total_point_answers : 0}} միավոր</span>
            </div>
          </div>
          <div class="uk-tests--footer">
            <div class="uk-tests--date col-70">
              <div class="uk-tests--date-part">
                <i class="fa fa-calendar-o"></i>
                {{order.orderDate ? (order.orderDate | date: 'MM/dd/yyyy HH:mm') : '-'}}
              </div>
              <div class="uk-tests--date-part">
                <i class="fa fa-calendar-o"></i>
                {{order.finishDate ? (order.finishDate | date: 'MM/dd/yyyy HH:mm') : '-'}}
              </div>
            </div>
            <div class="uk-tests--more col-30">
              <a class="btn btn-primary btn-block" [routerLink]="['/my-page/my-tests/single/', order._id]" *ngIf="order.participated === 1">Սկսել</a>
              <a class="btn btn-secondary btn-block" href="javascript:void(0)" (click)=" getCurrentOrder(order._id)" *ngIf="order.participated === 3" >Դիտել</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="uk-pagination">
          <app-pagination
            [count]="total"
            [page]="page"
            [perPage]="limit"
            [pagesToShow]="5"
            (goPrev)="prev()"
            (goNext)="next()"
            (goPage)="currentpage($event)"
          ></app-pagination>
        </div>
      </div>
    </div>
    <div class="row uk-row"  *ngIf="!orders || orders.length === 0">
      <div class="col-12">
        <p>Տվյալներ չեն գտնվե</p>
      </div>
    </div>
  </div>

  <div id="myModal" [ngClass]="modalShowHide ? 'modal-show' : 'modal-hide'" class="modal1">

    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header clearfix">
        <span class="close" (click)="modalShowHide = false">&times;</span>
      </div>
      <div class="modal-body border-top">
        <div class="uk-tabs">
          <div class="uk-tabs--part">
            <div class="uk-tabs--navs" *ngIf="test">
              <a href="javascript:void(0)" class="uk-tabs--navs-qn "
                 *ngFor="let question of test.questionsList; let i = index"
                 [ngClass]="[activeIndex === i ? 'active' : '',
                 !getTrueOrFalse(question._id) ? 'color-red' : 'color-green']"
                 (click)="activeIndex = i">
                Հարց {{i + 1}}
              </a>
            </div>
          </div>
          <div class="uk-tabs--part" *ngIf="test">

            <!--Tab 1-->
            <div *ngFor="let question of test.questionsList; let i = index">
              <div class="uk-tabs--part-content " [ngClass]="activeIndex === i ? 'active' : ''">
                <div class="uk-tabs--part-heading">
                  <h3>
                    {{question.title}} | {{getPoint(question._id)}} միավոր
                  </h3>
                  <h4>
                    Ձեր նշած պատասխանը ՝ {{getIndex(question._id) + 1}}ը
                  </h4>
                </div>
                <div class="row uk-row">
                  <div class="color-red" *ngIf="!getTrueOrFalse(question._id)">Սխալ է</div>
                  <div class="color-green" *ngIf="getTrueOrFalse(question._id)">Ճիշտ է</div>
                  <div class="col-md-12" *ngFor="let ans of question.answers; let k = index">
<!--                    <div class="uk-option">-->
                      <div class="row">
                        <div class="col-12">
                          <i class="fa fa-check color-green" *ngIf="getCorrectAnswerIndex(question._id) === k"></i>
                          <span>{{k + 1}}) {{ans.title}}</span>

                        </div>
                        <div class="col-6" *ngIf="ans.images">
                            <img src="{{backendUrl +'/' + ans.images.filePath}}" class="img-thumbnail" alt=""/>
                        </div>
                      </div>
<!--                    </div>-->
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="uk-option--nav">
                      <div class="uk-option--nav-part">
                        <ul class="uk-option--nav-links">
                          <li *ngIf="i > 0">
                            <a href="javascript:void(0)"
                               (click)="activeIndex = activeIndex - 1">
                              <i class="fa fa-long-arrow-left mr-2"></i>
                              Նախորդը
                            </a>
                          </li>
                          <li *ngIf="i < test.questionsList.length - 1">
                            <a href="javascript:void(0)"
                               (click)="activeIndex = activeIndex + 1">
                              Հաջորդը
                              <i class="fa fa-long-arrow-right ml-2"></i>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--Tab 1-->
          </div>
        </div>
      </div>
      <div class="modal-footer text-right  border-top p-2">
        <button class="btn btn-secondary"  (click)="modalShowHide = false">Փակել</button>
      </div>
    </div>

  </div>

