/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";
.color-red{
  color: #DF342F;
}
.uk-section-has-sidebar {
  padding: 40px 0;
}

.color-green{
  color: rgba(26, 147, 17, 0.88)!important;
}

.uk-header {
  z-index: 9999;
}

.border-red{
  border:solid 1px #DF342F;
}

.ng-select.custom .ng-select-container{
  /*display: block;*/
  width: 100%!important;
  height: calc(1.5em + 1.25rem + 2px)!important;
  padding: 0.625rem 1.25rem!important;
  font-size: 0.875rem!important;
  font-weight: 400!important;
  line-height: 1.5!important;
  color: #495057!important;
  background-color: #fff!important;
  background-clip: padding-box!important;
  border: 1px solid #ced4da!important;
  border-radius: 30px!important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out!important;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  border-radius: 10px;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 35%;
}

.modal-body {
  padding: 25px 5px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-show {
  display: block;
}

.modal-hide {
  display: none;
}

input[type="date"]
{
  display:block;
  min-width: 100%;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
}


@media (max-width: 1023.98px) {

  .uk-header {
    z-index: 9999;
  }

  .uk-section-has-sidebar {
    padding: 10px 0 48px;
    background: white;
    background: linear-gradient(0deg, white 98%, #eeeeee 100%);
  }

  .modal-content {
    border-radius: 10px;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
  }

  .uk-menu {
    display: block;
  }
}

