<section id="news" class="uk-news--section">
  <div class="container">
    <div class="uk-section-heading">
      <h2 class="uk-section-title">
        ՆՈՐՈՒԹՅՈՒՆՆԵՐ
      </h2>
    </div>
  </div>
  <div class=" uk-news--section-bg" style="background-image: url('../../../assets/images/news/NEWS.png')">
    <div class="container">
      <div class="row uk-row" *ngIf="news">
        <div class="col-lg-4 col-md-6"  *ngFor="let n of news">
          <div class="uk-news--box uk-box-shadow">
            <div class="uk-news--head" [ngStyle]="{'background-image': 'url(' + backendUrl + '/'+n.images.filePath + ')'}"></div>
            <div class="uk-news--body">
              <p [innerHTML]="n.shortDescription">
              </p>
            </div>
            <div class="uk-news--footer">
              <div class="uk-news--date">
                <i class="fa fa-calendar-o"></i>
                {{n.createdAt | date: 'MM/dd/yyyy'}}
              </div>
              <div class="uk-news--more">
                <a class="uk-news--more-link" [routerLink]="['/single-news', n._id]">
                  <i class="fa fa-angle-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mt-5">
          <div class="uk-pagination">
            <ul class="uk-pagination--dots m-auto" *ngIf="total > 0">
              <li class="active" (click)="prev()" [ngClass]="page === 1 ? 'diasabled' : ''">
                <a class="" href="javascript:void(0);"><</a>
              </li>
              <li class="active" (click)="next()" [ngClass]="total >= page * news.length ? 'diasabled' : ''" >
                <a class="page-link" href="javascript:void(0);">></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
